<%- include('partials/header') -%>

<div class="deleted">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="p-3">Your Blog Post Has Been Deleted Successfully!</h1>
                <p>Go back to Blogs Page</p>
                <a class="btn btn-warning" href="/">Home</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>